@keyframes lineSeparatorAppear { 0% { opacity:1; width:0; left:30%; } 33% { width:40%; left:30%} 66% { width:0; left:70% } 67% { width:0; left:30%; } 100% { opacity:1; width:40%; left:30%; } }
@-webkit-keyframes lineSeparatorAppear { 0% { opacity:1; width:0; left:30%; } 33% { width:40%; left:30%} 66% { width:0; left:70% } 67% { width:0; left:30%; } 100% { opacity:1; width:40%; left:30%; } }
@-moz-keyframes lineSeparatorAppear { 0% { opacity:1; width:0; left:30%; } 33% { width:40%; left:30%} 66% { width:0; left:70% } 67% { width:0; left:30%; } 100% { opacity:1; width:40%; left:30%; } }
@-o-keyframes lineSeparatorAppear { 0% { opacity:1; width:0; left:30%; } 33% { width:40%; left:30%} 66% { width:0; left:70% } 67% { width:0; left:30%; } 100% { opacity:1; width:40%; left:30%; } }
@-ms-keyframes lineSeparatorAppear { 0% { opacity:1; width:0; left:30%; } 33% { width:40%; left:30%} 66% { width:0; left:70% } 67% { width:0; left:30%; } 100% { opacity:1; width:40%; left:30%; } }

@keyframes contentBackgroundAppear { from { box-shadow: 0; } to { box-shadow: 0 0 5px 0 rgba(128,128,128,0.6); } }
@-webkit-keyframes contentBackgroundAppear { from { box-shadow: 0; } to { box-shadow: 0 0 5px 0 rgba(128,128,128,0.6); } }
@-moz-keyframes contentBackgroundAppear { from { box-shadow: 0; } to { box-shadow: 0 0 5px 0 rgba(128,128,128,0.6); } }
@-o-keyframes contentBackgroundAppear { from { box-shadow: 0; } to { box-shadow: 0 0 5px 0 rgba(128,128,128,0.6); } }
@-ms-keyframes contentBackgroundAppear { from { box-shadow: 0; } to { box-shadow: 0 0 5px 0 rgba(128,128,128,0.6); } }

@keyframes letterAppearTitle { from { opacity: 0; top: 100%; } to { opacity: 1; top: 0; } }
@-webkit-keyframes letterAppearTitle { from { opacity: 0; top: 100%; } to { opacity: 1; top: 0; } }
@-moz-keyframes letterAppearTitle { from { opacity: 0; top: 100%; } to { opacity: 1; top: 0; } }
@-o-keyframes letterAppearTitle { from { opacity: 0; top: 100%; } to { opacity: 1; top: 0; } }
@-ms-keyframes letterAppearTitle { from { opacity: 0; top: 100%; } to { opacity: 1; top: 0; } }

@keyframes letterAppearAuthor { from { opacity: 0; bottom: 100%; } to { opacity: 1; bottom: 0; } }
@-webkit-keyframes letterAppearAuthor { from { opacity: 0; bottom: 100%; } to { opacity: 1; bottom: 0; } }
@-moz-keyframes letterAppearAuthor { from { opacity: 0; bottom: 100%; } to { opacity: 1; bottom: 0; } }
@-o-keyframes letterAppearAuthor { from { opacity: 0; bottom: 100%; } to { opacity: 1; bottom: 0; } }
@-ms-keyframes letterAppearAuthor { from { opacity: 0; bottom: 100%; } to { opacity: 1; bottom: 0; } }

@keyframes lineSeparatorColorBlue {
    0%   { width:  0; left:30%; opacity: 1; }
    10%  { width:10%; left:30%; }
    20%  { width:10%; left:40%; }
    30%  { width:10%; left:50%; }
    70%  { width:10%; left:60%; }
    80%  { width:  0; left:70%; }
    100% { width:  0; left:70%; opacity: 1; }
}
@-webkit-keyframes lineSeparatorColorBlue {0%{width:0;left:30%;opacity:1;}10%{width:10%;left:30%;}20%{width:10%;left:40%;}30%{width:10%;left:50%;}70%{width:10%;left:60%;}80%{width:0;left:70%;}100%{width:0;left:70%;opacity:1;}}
@-moz-keyframes lineSeparatorColorBlue {0%{width:0;left:30%;opacity:1;}10%{width:10%;left:30%;}20%{width:10%;left:40%;}30%{width:10%;left:50%;}70%{width:10%;left:60%;}80%{width:0;left:70%;}100%{width:0;left:70%;opacity:1;}}
@-o-keyframes lineSeparatorColorBlue {0%{width:0;left:30%;opacity:1;}10%{width:10%;left:30%;}20%{width:10%;left:40%;}30%{width:10%;left:50%;}70%{width:10%;left:60%;}80%{width:0;left:70%;}100%{width:0;left:70%;opacity:1;}}
@-ms-keyframes lineSeparatorColorBlue {0%{width:0;left:30%;opacity:1;}10%{width:10%;left:30%;}20%{width:10%;left:40%;}30%{width:10%;left:50%;}70%{width:10%;left:60%;}80%{width:0;left:70%;}100%{width:0;left:70%;opacity:1;}}

@keyframes lineSeparatorColorGreen {
    0%   { width:  0; left:30%; opacity: 1; }
    10%  { width:  0; left:30%; }
    20%  { width:10%; left:30%; }
    30%  { width:10%; left:40%; }
    70%  { width:10%; left:50%; }
    80%  { width:10%; left:60%; }
    90%  { width:  0; left:70%; }
    100% { width:  0; left:70%; opacity: 1; }
}
@-webkit-keyframes lineSeparatorColorGreen {0%{width:0;left:30%;opacity:1;}10%{width:0;left:30%;}20%{width:10%;left:30%;}30%{width:10%;left:40%;}70%{width:10%;left:50%;}80%{width:10%;left:60%;}90%{width:0;left:70%;}100%{width:0;left:70%;opacity:1;} }
@-moz-keyframes lineSeparatorColorGreen {0%{width:0;left:30%;opacity:1;}10%{width:0;left:30%;}20%{width:10%;left:30%;}30%{width:10%;left:40%;}70%{width:10%;left:50%;}80%{width:10%;left:60%;}90%{width:0;left:70%;}100%{width:0;left:70%;opacity:1;} }
@-o-keyframes lineSeparatorColorGreen {0%{width:0;left:30%;opacity:1;}10%{width:0;left:30%;}20%{width:10%;left:30%;}30%{width:10%;left:40%;}70%{width:10%;left:50%;}80%{width:10%;left:60%;}90%{width:0;left:70%;}100%{width:0;left:70%;opacity:1;} }
@-ms-keyframes lineSeparatorColorGreen {0%{width:0;left:30%;opacity:1;}10%{width:0;left:30%;}20%{width:10%;left:30%;}30%{width:10%;left:40%;}70%{width:10%;left:50%;}80%{width:10%;left:60%;}90%{width:0;left:70%;}100%{width:0;left:70%;opacity:1;} }

@keyframes lineSeparatorColorRed {
    0%   { width:  0; left:30%; opacity: 1; }
    20%  { width:  0; left:30%; }
    30%  { width:10%; left:30%; }
    70%  { width:10%; left:40%; }
    80%  { width:10%; left:50%; }
    90%  { width:10%; left:60%; }
    100% { width:  0; left:70%; opacity: 1; }
}
@-webkit-keyframes lineSeparatorColorRed {0%{width:0;left:30%;opacity:1;}20%{width:0;left:30%;}30%{width:10%;left:30%;}70%{width:10%;left:40%;}80%{width:10%;left:50%;}90%{width:10%;left:60%;}100%{width:0;left:70%;opacity:1;}}
@-moz-keyframes lineSeparatorColorRed {0%{width:0;left:30%;opacity:1;}20%{width:0;left:30%;}30%{width:10%;left:30%;}70%{width:10%;left:40%;}80%{width:10%;left:50%;}90%{width:10%;left:60%;}100%{width:0;left:70%;opacity:1;}}
@-o-keyframes lineSeparatorColorRed {0%{width:0;left:30%;opacity:1;}20%{width:0;left:30%;}30%{width:10%;left:30%;}70%{width:10%;left:40%;}80%{width:10%;left:50%;}90%{width:10%;left:60%;}100%{width:0;left:70%;opacity:1;}}
@-ms-keyframes lineSeparatorColorRed {0%{width:0;left:30%;opacity:1;}20%{width:0;left:30%;}30%{width:10%;left:30%;}70%{width:10%;left:40%;}80%{width:10%;left:50%;}90%{width:10%;left:60%;}100%{width:0;left:70%;opacity:1;}}

@keyframes contentShowcaseContainerHover {from{color:#000;background-color:inherit;box-shadow:0 0 0 0 rgba(128,128,128,0.6);}to{color:#fff;background-color:#3c7bd2;box-shadow:0 0 10px 0 rgba(128,128,128,0.6);}}
@-webkit-keyframes contentShowcaseContainerHover {from{color:#000;background-color:inherit;box-shadow:0 0 0 0 rgba(128,128,128,0.6);}to{color:#fff;background-color:#3c7bd2;box-shadow:0 0 10px 0 rgba(128,128,128,0.6);}}
@-moz-keyframes contentShowcaseContainerHover {from{color:#000;background-color:inherit;box-shadow:0 0 0 0 rgba(128,128,128,0.6);}to{color:#fff;background-color:#3c7bd2;box-shadow:0 0 10px 0 rgba(128,128,128,0.6);}}
@-o-keyframes contentShowcaseContainerHover {from{color:#000;background-color:inherit;box-shadow:0 0 0 0 rgba(128,128,128,0.6);}to{color:#fff;background-color:#3c7bd2;box-shadow:0 0 10px 0 rgba(128,128,128,0.6);}}
@-ms-keyframes contentShowcaseContainerHover {from{color:#000;background-color:inherit;box-shadow:0 0 0 0 rgba(128,128,128,0.6);}to{color:#fff;background-color:#3c7bd2;box-shadow:0 0 10px 0 rgba(128,128,128,0.6);}}

@keyframes contentWIPShowcaseContainerHover {from{border-bottom-color:#fff;background-color:inherit;box-shadow:0 0 0 0 rgba(128,128,128,0.6);}to{border-bottom-color:#000;background-color:rgba(255, 235, 59, 0.26);box-shadow:0 0 10px 0 rgba(128,128,128,0.6);}}
@-webkit-keyframes contentWIPShowcaseContainerHover {from{border-bottom-color:#fff;background-color:inherit;box-shadow:0 0 0 0 rgba(128,128,128,0.6);}to{border-bottom-color:#000;background-color:rgba(255, 235, 59, 0.26);box-shadow:0 0 10px 0 rgba(128,128,128,0.6);}}
@-moz-keyframes contentWIPShowcaseContainerHover {from{border-bottom-color:#fff;background-color:inherit;box-shadow:0 0 0 0 rgba(128,128,128,0.6);}to{border-bottom-color:#000;background-color:rgba(255, 235, 59, 0.26);box-shadow:0 0 10px 0 rgba(128,128,128,0.6);}}
@-o-keyframes contentWIPShowcaseContainerHover {from{border-bottom-color:#fff;background-color:inherit;box-shadow:0 0 0 0 rgba(128,128,128,0.6);}to{border-bottom-color:#000;background-color:rgba(255, 235, 59, 0.26);box-shadow:0 0 10px 0 rgba(128,128,128,0.6);}}
@-ms-keyframes contentWIPShowcaseContainerHover {from{border-bottom-color:#fff;background-color:inherit;box-shadow:0 0 0 0 rgba(128,128,128,0.6);}to{border-bottom-color:#000;background-color:rgba(255, 235, 59, 0.26);box-shadow:0 0 10px 0 rgba(128,128,128,0.6);}}

@keyframes colorHoverFocus {from{box-shadow:0 0 0 0 rgba(128,128,128,0.6);}to{box-shadow:2px 2px 10px 0 rgba(128,128,128,0.6);}}
@-webkit-keyframes colorHoverFocus {from{box-shadow:0 0 0 0 rgba(128,128,128,0.6);}to{box-shadow:2px 2px 10px 0 rgba(128,128,128,0.6);}}
@-moz-keyframes colorHoverFocus {from{box-shadow:0 0 0 0 rgba(128,128,128,0.6);}to{box-shadow:0 0 10px 0 rgba(128,128,128,0.6);}}
@-o-keyframes colorHoverFocus {from{box-shadow:0 0 0 0 rgba(128,128,128,0.6);}to{box-shadow:0 0 10px 0 rgba(128,128,128,0.6);}}
@-ms-keyframes colorHoverFocus {from{box-shadow:0 0 0 0 rgba(128,128,128,0.6);}to{box-shadow:0 0 10px 0 rgba(128,128,128,0.6);}}

@keyframes colorHoverUnFocus {from{background-color:inherit;border-color:inherit;color:inherit;}to{background-color:transparent;border-color:transparent;color:transparent;}}
@-webkit-keyframes colorHoverUnFocus {from{background-color:inherit;border-color:inherit;color:inherit;}to{background-color:transparent;border-color:transparent;color:transparent;}}
@-moz-keyframes colorHoverUnFocus {from{background-color:inherit;border-color:inherit;color:inherit;}to{background-color:transparent;border-color:transparent;color:transparent;}}
@-o-keyframes colorHoverUnFocus {from{background-color:inherit;border-color:inherit;color:inherit;}to{background-color:transparent;border-color:transparent;color:transparent;}}
@-ms-keyframes colorHoverUnFocus {from{background-color:inherit;border-color:inherit;color:inherit;}to{background-color:transparent;border-color:transparent;color:transparent;}}

